In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Pandas Series
- Pandas serisi tek boyutlu bir veri yapısıdır.

- Pandas serileri değerleri indexleriyle beraber tutar.

In [12]:
liste_1 = ["Serhan", "Fulya","Bulut","Koba",14,33]
seri_1 = pd.Series(liste_1)
seri_1

0    Serhan
1     Fulya
2     Bulut
3      Koba
4        14
5        33
dtype: object

In [13]:
type(seri_1) #Tipi ==> Pandas Series

pandas.core.series.Series

In [14]:
seri_1.dtype #Data tipi ==> 'O' (string)

dtype('O')

In [17]:
seri_2 = pd.Series([1.5,3,4.5], index= ["sıfır","bir","iki"]) #İndexleri kendimiz de atayabiliriz.
seri_2

sıfır    1.5
bir      3.0
iki      4.5
dtype: float64

In [18]:
pd.Series([1.5,3,4.5], index= ["sıfır","bir","iki","üç","Ooooo","Fenerbahçe"]) #HATA. Değer sayısı ile index sayısı eşleşmelidir.

ValueError: Length of values (3) does not match length of index (6)

### Data Frame - Using NumPy Arrays

In [19]:
arr2 = np.arange(1,13).reshape(4,3)
arr2

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [20]:
pd.Series(arr2) #HATA. Tek boyutlu olması gerekir. bkz: 1. madde

ValueError: Data must be 1-dimensional, got ndarray of shape (4, 3) instead

In [21]:
pd.DataFrame(arr2)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

### Using Dictionaries

In [22]:
dict_1 = {"Serhan":29, "Fulya":28, "Sirius":8,"Sylvanas": 5}
dict_1

{'Serhan': 29, 'Fulya': 28, 'Sirius': 8, 'Sylvanas': 5}

In [23]:
pd.Series(dict_1)

Serhan      29
Fulya       28
Sirius       8
Sylvanas     5
dtype: int64

In [24]:
pd.Series(dict_1, index= ["at", "bakkal", "bıyık"]) #Keyleri bulamadı, bu yüzden NaN döndürdü.

at       NaN
bakkal   NaN
bıyık    NaN
dtype: float64

In [25]:
pd.Series(dict_1, index = ["Serhan", "Fulya"]) #Sayısını da değiştirebiliriz.

Serhan    29
Fulya     28
dtype: int64

In [28]:
dict_2 = {"name": "Güneş", "age": 7, "note": 4.8}
pd.Series(dict_2)

name    Güneş
age         7
note      4.8
dtype: object

In [29]:
pd.Series(dict_2, index= ["name", "age", "note", "color"]) #Ekleye de biliyoruz ancak NaN değer atar.

name     Güneş
age          7
note       4.8
color      NaN
dtype: object

### Using Scalar Value

Skerler, skalerden oluşan liste veya demet gibi veri yapılarının aksine, bir tamsayı veya bool gibi bir veri birimini temsil eden tek değerlerdir.

Veri skaler bir değerse, bir dizin sağlanmalıdır.

In [30]:
pd.Series([10,10,10]) #normal yöntem

0    10
1    10
2    10
dtype: int64

In [32]:
pd.Series(14, index=[1,2,3])

1    14
2    14
3    14
dtype: int64

In [34]:
pd.Series(33, index = range(1,4)) #İndex range verebiliriz.

1    33
2    33
3    33
dtype: int64

### Concat işlemi

İki seriyi de kullanabiliriz

In [35]:
seri_2

sıfır    1.5
bir      3.0
iki      4.5
dtype: float64

In [37]:
pd.concat([seri_2,seri_1])

sıfır       1.5
bir         3.0
iki         4.5
0        Serhan
1         Fulya
2         Bulut
3          Koba
4            14
5            33
dtype: object

### İndexleme ve Slicing

In [38]:
seri_6 = pd.Series([1,2,3,4], index= ["Red Bull", "Aston Martin", "Ferrari", "Mercedes"])
seri_6

Red Bull        1
Aston Martin    2
Ferrari         3
Mercedes        4
dtype: int64

In [42]:
seri_6[0]

1

In [40]:
seri_6["Red Bull"]

1

In [43]:
seri_6[0:2]

Red Bull        1
Aston Martin    2
dtype: int64

In [45]:
seri_6["Aston Martin" : "Mercedes"] #Key ismi girince son index dahil oldu.

Aston Martin    2
Ferrari         3
Mercedes        4
dtype: int64

In [46]:
seri_6[["Aston Martin", "Mercedes"]]

Aston Martin    2
Mercedes        4
dtype: int64

### Method kullanımı

In [47]:
seri_7 = pd.Series(np.random.randint(1,51,8))
seri_7

0    26
1    11
2    26
3    11
4    23
5    47
6    47
7    30
dtype: int32

value

In [48]:
seri_7.values

array([26, 11, 26, 11, 23, 47, 47, 30])

index

In [51]:
seri_7.index #İndexlerin tarifini verdi.

RangeIndex(start=0, stop=8, step=1)

In [53]:
seri_8 = pd.Series([3,6], index= ["bir", "iki"]) #Kendimiz index atadığımız için, çağırdığımızda bu isimleri verir.
seri_8

bir    3
iki    6
dtype: int64

In [54]:
seri_8.index #Ta daaa işte verdi.

Index(['bir', 'iki'], dtype='object')